#file {
    position: relative;
}

#photo-menu.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #2f343f;
    /* border: 1px solid #444; */
    border: none;
    z-index: 10;
}

#file:hover .submenu,
#file:focus-within .submenu {
    display: block;
}

body {
    font-family: monospace;
    background-color: #262c36;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title-terminal {
    color: #ffffff;
}

.terminal {
    background-color: #131212;
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.terminal-header {
    background-color: #2f343f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons span {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #2f343f;
    border-radius: 3px;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.buttons span:hover {
    filter: brightness(0.85);
}

.minimize {
    background-color: #92be79;
    position: relative;
}
.minimize::after {
    content: "_";
    position: absolute;
    text
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(4px);
}

.maximize {
    background-color: #92be79;
    position: relative;
}
.maximize::after {
    content: "□";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-1px);
}

.close {
    background-color: #92be79;
    position: relative;
}
.close::after {
    content: "×";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(1px);
}

.minimize::after,
.maximize::after, 
.close::after {
    font-weight: bold;
}

.title-bar {
    color: #D3D7CF;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
}

.menu-bar {
    color: #D3D7CF;
    font-size: 12px;
    flex-grow: 1;
    text-align: left;
}

.menu-bar span {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-bar span:hover {
    background-color: #373F51;
    color: #FFFFFF;
    border-radius: 0;
}

.terminal-window {
    background-color: #222222;
    padding: 20px;
    padding-top: 10px;
    color: #FFF;
    font-size: 12px;
    height: 380px;
    overflow-y: auto;
}

.host {
    color: #92be79;
}

.output {
    color: #FFF;
}

.comment {
    color: #1c5072;
}

a:link, a:visited, a:active {
    color: #c4dd6b;
    text-decoration: none;
}

a:hover {
    color: #4582f3;
    text-decoration: none;
}

.submenu {
    display: none;
    background-color: #373f51;
    position: absolute;
    z-index: 1;
    border: none;
}

.submenu span {
    display: block;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

.submenu span:hover {
    border-radius: 0;
    border: none !important;
    background-color: #373f51;
    color: #fff;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay-image {
    max-width: 40%;
    max-height: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: translate(194px, 38px);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.row {
    display: flex;
    align-items: center;
}

.label {
    min-width: 130px;
    font-weight: bold;
}

.url {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.url:hover {
    text-decoration: underline;
}