#file {
    position: relative;
}

#photo-menu.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #2f343f;
    /* border: 1px solid #444; */
    border: none
    z-index: 10;
}

#file:hover .submenu,
#file:focus-within .submenu {
    display: block;
}

body {
    font-family: monospace;
    background-color: #262c36;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin: 0;
}

.title-terminal {
    color: #ffffff;
}

.terminal {
    background-color: #131212;
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.terminal-header {
    background-color: #2f343f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

/* 3 Buttons */

.minimize {
    background-color: #92be79;
}

.maximize {
    background-color: #92be79;
}

.close {
    background-color: #92be79;
}

.title-bar {
    color: #D3D7CF;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
}

.menu-bar {
    color: #D3D7CF;
    font-size: 14px;
    flex-grow: 1;
    text-align: left;
}

.menu-bar span {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-bar span:hover {
    background-color: #373F51;
    color: #FFFFFF;
    border-radius: 0; /* Bordes rectos */
}

.terminal-window {
    background-color: #222222;
    padding: 20px;
    padding-top: 10px;
    color: #FFF;
    font-size: 12px;
    height: 380px;
    overflow-y: auto;
}

.host {
    color: #92be79;
}

.output {
    color: #FFF;
}
/* .error {
    color: #CC0000;
}
*/
.comment {
    color: #1c5072;
}

a:link, a:visited, a:active {
    color: #c4dd6b;
    text-decoration: none;
}

a:hover {
    color: #4582f3;
    text-decoration: none;
}

/* Estilo del submenú */
.submenu {
    display: none;
    background-color: #2f343f;
    position: absolute;
    z-index: 1;
    border: none; /* Elimina cualquier borde por defecto */
}

.submenu span {
    display: block;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none; /* Asegura que no haya borde */
    border-radius: 0; /* Bordes rectos */
}

.submenu span:hover {
    border-radius: 0;
    border: none !important; /* Elimina el borde gris al hacer hover */
    background-color: #373F51;
    color: #fff;
}

/* Ooverlay style */
.overlay {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo para cubrir toda la pantalla */
    top: 0; /* Alineado al borde superior */
    left: 0; /* Alineado al borde izquierdo */
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
    justify-content: center; /* Alineada a la izquierda */
    align-items: center; /* Centra verticalmente */
    z-index: 10;
}

/* Estilo de la imagen en el overlay */
.overlay-image {
    max-width: 40%; /* Máximo ancho de la imagen */
    max-height: 40%; /* Máxima altura de la imagen */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para resaltar imagen */
    border-radius: 10px; /* Bordes para la imagen */
    transform: translate(194px, 38px); /* Imagen 40px derecha y 40px abajo */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1px; /* Espaciado entre filas */
}

.row {
    display: flex;
    align-items: center;
}

.label {
    min-width: 130px; /* Ajusta este valor según sea necesario */
    font-weight: bold;
}

.url {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.url:hover {
    text-