        /* Estilo del submenú */
        .submenu {
            display: none; /* Oculto por defecto */
            background-color: #333; /* Mismo color que el menú principal */
            position: absolute; /* Para que se superponga sobre el menú */
            z-index: 1; /* Asegúrate de que esté por encima del contenido */
        }
        
        .submenu span {
            display: block; /* Mostrar cada elemento del submenú como bloque */
            color: white; /* Color del texto */
            padding: 10px; /* Espaciado interno */
            cursor: pointer; /* Cambiar cursor al pasar por encima */
        }

        .submenu span:hover {
            background-color: #444; /* Color al pasar el mouse */
        }
        /* Estilo del submenú */
        .submenu {
            display: none; /* Oculto por defecto */
            background-color: #333; /* Mismo color que el menú principal */
            position: absolute; /* Para que se superponga sobre el menú */
            z-index: 1; /* Asegúrate de que esté por encima del contenido */
        }
        
        .submenu span {
            display: block; /* Mostrar cada elemento del submenú como bloque */
            color: white; /* Color del texto */
            padding: 10px; /* Espaciado interno */
            cursor: pointer; /* Cambiar cursor al pasar por encima */
        }

        .submenu span:hover {
            background-color: #444; /* Color al pasar el mouse */
        }
body {
    font-family: monospace;
    /* background: linear-gradient(135deg, #412326, #412346, #412326); */
    /* background-image: url("../main/bkg.jpeg"); */
	/* background-color: rgba(45, 45, 45, 0.5); 10% transparente  */
	background-color: #44684c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title-terminal {
    color: #31C82B;
}

.files {
    color: #e86c22;
}

.files:hover {
    color: #D8935E; /* Cambia el color del texto al pasar el mouse */
    text-decoration: none; /* Subraya el texto */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Transición suave */
}

.terminal {
    background-color: #2D2D2D;
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 
        20px 20px 40px rgba(0, 0, 0, 0.3);
}

.terminal-header {
    background-color: #2f343f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /* Cambia la dirección de los elementos en la fila */
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.minimize {
    background-color: #fac536;
}

.maximize {
    background-color: #39ea49;
}

.close {
    background-color: #f25056;
}

.title-bar {
    color: #D3D7CF;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
}

.menu-bar {
    color: #D3D7CF;
    font-size: 14px;
    flex-grow: 1;
text-align: left;
}

.terminal-window {
    background-color: #2D2D2D;
    padding: 20px;
    padding-top:10px;
    color: #FFF;
    font-size: 12px;
    /* width: 420px; */
    height: 380px;
    overflow-y: auto;
    
}

.host {
    color: #31C82B;
}

.output {
    color: #FFF;
}

.error {
    color: #CC0000;
}

.comment {
    color: #7F9F7F;
}

a:link, a:visited, a:active {
    color: #5ab9e7;
    text-decoration: none;
}

a:hover {
    color: #addbe4;
    text-decoration: none;
}

.menu-bar span {
    cursor: pointer;
    color: #fff; /* Mantén el texto blanco */
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-bar span:hover {
    background-color: #3B3B3B; /* Fondo oscuro en hover */
    color: #FFFFFF; /* Color del texto al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados para simular un botón */
}

/* Estilo del submenú */
.submenu {
    display: none; /* Oculto por defecto */
    background-color: #333; /* Mismo color que el menú principal */
    position: absolute; /* Para que se superponga sobre el menú */
    z-index: 1; /* Asegúrate de que esté por encima del contenido */
}

.submenu span {
    display: block; /* Mostrar cada elemento del submenú como bloque */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

.submenu span:hover {
    background-color: #444; /* Color al pasar el mouse */
}